<div>
  <div>
    <h1 class="m-3">
      <%=User.where({:id=>session.fetch(:user_id)}).first.username%>'s Workouts
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <h2 class="m-3">
      Add a new workout
    </h2>
    
    <form action="/insert_workout" method="post">
      <div>
        <label for="workout_id_box" class="m-3">
          Focus
        </label>

        <select class="btn btn-outline-success dropdown-toggle" name="query_workout">
        
        <option>
        Chest & Triceps
        </option>
        <option>
        Back & Biceps
        </option>
        <option>
        Legs & Shoulders
        </option>
        <option>
        Cardio
        </option>
        <option>
        Chest & Abs
        </option>
        <option>
        Cardio
        </option>
        
        </select>
        </div>

      <div>
        <label for="time_box" class="m-3">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time">
      </div>

      <button class="btn btn-outline-success m-3">
        Let's hit it
      </button>
    </form>
  </div>
</div>
<hr>
<div>
<h2 class="m-3"> Leading </h2>
  <div>
    <table class="table table-bordered m-3" border="1">
    <thead class="thead-dark">
      <tr>

        <th scope="col">
          Workout
        </th>

        <th scope="col">
          Leader
        </th>

        <th scope="col">
          Time
        </th>

        <th scope="col">
          Joins
        </th>

        <th scope="col">
          Created at
        </th>

        <th scope="col">
          Updated at
        </th>

        <th scope="col">
        </th>
      </tr>
      </thead>
      <% @my_workouts.each do |a_workout|%>
      <tbody>
      <tr>

        <td>
          <%= a_workout.workout %>
        </td>

        <td>
          <%=User.where({:id=>a_workout.owner_id}).first.username%>
        </td>

        <td>
          <%= a_workout.time %>
        </td>

        <td>
          <%= a_workout.joins_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_workout.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_workout.updated_at) %> ago
        </td>

        <td>
          <a class="btn btn-outline-success" href="/workouts/<%= a_workout.id %>">
            Who's coming?
          </a>
        </td>
      </tr>
      </tbody>
      <% end %>
    </table>
<hr>
<div>


<a class="btn btn-success m-3" href="/joined">
            Joined workouts
          </a>
  </div>
</div>

<hr>
