<div>
  <div>
    <h1>
      Workout #<%= @the_workout.id %> details
    </h1>

    <div>
      <div>
        <a href="/workouts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_workout/<%= @the_workout.id %>">
          Delete workout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <dd>
        <%= @the_workout.workout %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_workout.image %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_workout.owner_id %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @the_workout.time %>
      </dd>

      <dt>
        Joins count
      </dt>
      <dd>
        <%= @the_workout.joins_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit workout
    </h2>

    <form action="/modify_workout/<%= @the_workout.id %>"  method="post" >
      <div>
        <label for="workout_box">
          Workout
        </label>

        <input type="text" id="workout_box" name="query_workout" value="<%= @the_workout.workout %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_workout.image %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_workout.owner_id %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time"
         value="<%= @the_workout.time %>">
      </div>

      <div>
        <label for="joins_count_box">
          Joins count
        </label>

        <input type="text" id="joins_count_box" name="query_joins_count" value="<%= @the_workout.joins_count %>">
      </div>

      <button>
        Update workout
      </button>
    </form>
  </div>
</div>

<hr>
