<div>
    <table class="table table bordered">
    <thead>
      <tr>
      <th>
        Workout
        </th>
    <th>
    Owner
    </th>
    <th>
    Time
    </th>
    <th>
    Joins
    </th>
    <th>
    Created at
    </th>
    <th>
    Updated at
    </th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @the_workout.workout %>
      </td>
      <td>
        <%= User.where(:id=>@the_workout.owner_id).first.username %>
      </td>

      <td>
        <%= @the_workout.time %>
      </td>

      <td>
        <%= @the_workout.joins_count %>
      </td>

      <td>
        <%= time_ago_in_words(@the_workout.created_at) %> ago
      </td>
      <td>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>

<hr>

<% if @the_workout.owner_id== session.fetch(:user_id)%>
 <h2 class="m-3">
      Edit workout
    </h2>

    <form class="m-3" action="/modify_workout/<%= @the_workout.id %>"  method="post" >
      <div>
        <label for="workout_box">
          Workout
        </label>

        <input type="text" id="workout_box" name="query_workout" value="<%= @the_workout.workout %>">
      </div>



      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time"
         value="<%= @the_workout.time %>">
      </div>

      

      <button class="btn btn-success m-3">
        Update workout
      </button>
    </form>
  </div>
</div>
  <%else%>
  
    
<%end%>

<hr>
